const config = {
    startBlock: 'latest',
    registryAddress: process.env.METAINDEXER_REGISTRY_ADDRESS || '0xbd83c21e6f0a9547abe908c6faa02a55512d57b4',
    ethereumHost: process.env.METAINDEXER_ETHEREUM_URL || 'http://repux-indexer-ganache-cli:8545',
    lastBlockSaveInterval: 5000,
    elasticsearch: {
        host: process.env.METAINDEXER_ELASTICSEARCH_HOST || 'repux-indexer-es:9200',
        protocol: 'http',
        index: 'repux',
        log: 'error',
        proxy: {
            port: 9201
        }
    },
    ipfs: {
        httpUrl: process.env.METAINDEXER_IPFS_HTTP_URL || 'http://repux-indexer-ipfs:8080/ipfs',
    }
};

module.exports = config;
