const config = {
    startBlock: 'latest',
    registryAddress: '0xbd83c21e6f0a9547abe908c6faa02a55512d57b4',
    ethereumHost: 'http://repux-indexer-ganache-cli:8545',
    lastBlockSaveInterval: 5000,
    elasticsearch: {
        host: 'repux-indexer-es:9200',
        protocol: 'http',
        index: 'repux',
        proxy: {
            port: 9201
        }
    },
    ipfs: {
        httpUrl: 'http://repux-indexer-ipfs',
    }
};

module.exports = config;
